
@page "/todo/add"

@inject NavigationManager NavigationManager

<h3>Add New Todo</h3>

<div class="form-group">
    <label for="title">Title:</label>
    <input id="title" class="form-control" @bind="newTodo.Title" />
</div>

<div class="form-group">
    <label for="completed">Completed:</label>
    <input id="completed" type="checkbox" @bind="newTodo.IsCompleted" />
</div>

<button class="btn btn-success" @onclick="AddTodo">Add Todo</button>

@code {
    private Models.TodoItem newTodo = new Models.TodoItem();

    [Inject]
    private Service.TodoService TodoService { get; set; } = null!;
    private void AddTodo()
    {
       TodoService.AddTodoItem(newTodo);
       NavigationManager.NavigateTo("/todo");
    }
}
