
@page "/api/todo/add"

@using TodoApp.Models
@inject TodoApp.Service.ITodoService TodoService
@inject NavigationManager navigationManager

<h3>Add New Todo</h3>

<div class="form-group">
    <label for="title">Title:</label>
    <input id="title" class="form-control" @bind="newTodo.Title" />
</div>

<div class="form-group">
    <label for="completed">Completed:</label>
    <input id="completed" type="checkbox" @bind="newTodo.IsCompleted" />
</div>

<button class="btn btn-success" @onclick="AddTodo">Add Todo</button>

@code {
    private Models.TodoItem newTodo = new Models.TodoItem();

    private async Task AddTodo()
    {
       await TodoService.AddTodoItem(newTodo);
       navigationManager.NavigateTo("/api/todo");
    }
}
